
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">...</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="listapersonas" class="nav-link">Personas</a>
      </li>
      <li class="nav-item">
        <a routerLink="agregar" class="nav-link">Agregar</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<style>

</style>

<!-- <router-outlet></router-outlet> -->
