<div class="list row">
   
    <div class="col-md-6 offset-md-3">
      <h4>Personas Registradas</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let p of lstPersonas; let i = index"
          [class.fila1]="i % 2 == 0"
          (click)="seleccionar(p, i)"
        >
              <div>
                <h5   class="mb-0 text-danger "><b> {{ p.nombre }} </b>  
                  <a class="fas fa-edit" routerLink="/personas/{{p.id}}">
                  </a></h5>
              </div>
              
              <div>
                <ul class="list-unstyled">
                  <li> <i class="fa fa-id-card"> &nbsp; &nbsp; </i> {{p.documento }}</li>
                  <li><i class="fa fa-birthday-cake"> &nbsp; &nbsp; </i>{{ p.fnacimiento }}</li>
                </ul>
              </div>
              
              <div>
                <ul class="list-unstyled">
                  <li *ngIf="p.HijoMadre"> <i class="fa fa-female"> &nbsp; &nbsp; </i> {{p.HijoMadre.nombre }}</li>
                  <li *ngIf="p.HijoPadre"><i class="fa fa-male"> &nbsp; &nbsp; </i>{{ p.HijoPadre.nombre }}</li>
                </ul>
              </div>
              
        </li>
      </ul>
      </div>


    <!-- <div class="col-md-6">
      <div *ngIf="indice >= 0">
        <h4></h4>
        <div>
          <label><strong>Nombre:</strong></label> 
           {{ seleccionada.nombre }} 
        </div>
        <div>
          <label><strong>Fecha Nacimiento:</strong></label>
           {{ seleccionada.fnacimiento }} 
        </div>
        
        <a class="badge badge-warning" routerLink="/personas/{{seleccionada.id}}">
          Modificar
        </a>
     
      </div>
  
      <div *ngIf="indice == -1">
        <br />
        <p>Por favor seleccione una persona...</p>
      </div>
    </div> -->
  </div>
