
<div  class="col-md-6 offset-md-3" >
    <h4>Modificar persona</h4>
    <br>
    <div class="alert alert-warning" role="alert" *ngIf="mensaje !='' ">
       {{mensaje}}
    </div>
        <div class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                required
                 [(ngModel)]="nuevo.nombre" 
                name="nombre"
              />
            </div>
            
    
            <div class="form-group">
              <label for="documento">Documento </label>
              <input
                class="form-control"
                id="documento"
                required
                [(ngModel)]="nuevo.documento"
                name="documento"
              />
            </div>
    
            <div class="form-group">
              <label for="fnacimiento">Fecha de Nacimiento</label>
                    <input type="text"
                          class="form-control"
                          placeholder="Fecha Nacimiento"
                          bsDatepicker
                          [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                          id="fnacimiento"
                          required
                          [(ngModel)]="nuevo.fnacimiento"
                          name="fnacimiento" 
                          >
            </div>
    
            <div class="form-group">
              <label for="madre">Madre</label>
             <select class="form-control" [(ngModel)]="nuevo.idmadre"  id="madre" name="madre"  >
              <option [ngValue]="null" >Sin información</option>
               <option *ngFor="let p of lstPersonas;"  [ngValue]="p.id" > {{p.nombre}}</option>
             </select>
            </div>
      
            <div class="form-group">
              <label for="padre">Padre</label>
             <select class="form-control" [(ngModel)]="nuevo.idpadre"  id="padre" name="padre">
               <option [ngValue]="null" >Sin información</option>
               <option *ngFor="let p of lstPersonas;"  [ngValue]="p.id" > {{p.nombre}}</option>
             </select>
            </div>
      
            
            <button (click)="actualizar()" class=" fas fa-save btn btn-primary">    Actualizar</button>
          </div>
      
          <div *ngIf="submitted">
            <h6>La persona se actualizó correctamente</h6>
           
          </div>
        </div>
      </div>
    