<div  class="col-md-6 offset-md-3" >
<h4>Agregar persona</h4>
<br>
<div class="alert alert-warning" role="alert" *ngIf="mensaje !='' ">
   {{mensaje}}
</div>


    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            required
             [(ngModel)]="nuevo.nombre" 
            name="nombre"
          />
        </div>
        

        <div class="form-group">
          <label for="documento">Documento </label>
          <input
            class="form-control"
            id="documento"
            required
            [(ngModel)]="nuevo.documento"
            name="documento"
          />
        </div>

        <div class="form-group">
          <label for="fnacimiento">Fecha de Nacimiento</label>
                <input type="text"
                      class="form-control"
                      placeholder="Fecha Nacimiento"
                      bsDatepicker
                      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }"
                      id="fnacimiento"
                      required
                      [(ngModel)]="nuevo.fnacimiento"
                      name="fnacimiento" 
                      >
        </div>

        <div class="form-group">
          <label for="madre">Madre</label>
         <select class="form-control" [(ngModel)]="nuevo.idmadre" >
          <option [ngValue]="null" >Sin información</option>
           <option *ngFor="let p of lstPersonas;"  [ngValue]="p.id" > {{p.nombre}}</option>
         </select>
        </div>
  
        <div class="form-group">
          <label for="padre">Padre</label>
         <select class="form-control" [(ngModel)]="nuevo.idpadre" >
           <option [ngValue]="null" >Sin información</option>
           <option *ngFor="let p of lstPersonas;"  [ngValue]="p.id" > {{p.nombre}}</option>
         </select>
        </div>
  
        
        <button (click)="grabar()" class=" fas fa-save btn btn-primary">    Grabar</button>
      </div>
  
      <div *ngIf="submitted">
        <h6>La persona se adicionó correctamente</h6>
        <button class="btn btn-primary" (click)="limpiar()">Agregar otra persona</button>
      </div>
    </div>
  </div>
